body {
    display: flex;
    flex-flow: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
}

hr {
    border: 2px solid;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}