body {
    display: flex;
}

.a {
    border: solid 1px;
    border-radius: 10px;
    /* flex-grow: initial;
    flex-shrink: initial;
    flex-basis: initial; */
}

header {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

aside {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

footer {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}